# Regressão Linear com Scikit-Learn
- Este notebook faz parte da atividades teóricas do clube de Inteligência Artificial da Escola Sesc de Ensino Médio;
- Nesta atividade iremos aprender mais sobre algoritmos de Regressão Linear utilizando uma biblioteca muito utilizada para Machine Learning, a Scikit-Learn.

## 1. Preparando os dados

### 1.1 Importando as bibliotecas principais

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

**NumPy** é um pacote para a linguagem Python que suporta arrays e matrizes multidimensionais, possuindo uma larga coleção de funções matemáticas para trabalhar com estas estruturas. *Wikipédia*

**Pandas** é uma biblioteca de software criada para a linguagem Python para manipulação e análise de dados. Em particular, oferece estruturas e operações para manipular tabelas numéricas e séries temporais. É software livre sob a licensa licença BSD. *Wikipédia*

**Matplotlib** é uma biblioteca de software para criação de gráficos e visualizações de dados em geral, feita para a da linguagem de programação Python e sua extensão de matemática NumPy. Originalmente criada pelo biólogo e neurocientista americano John D. *Wikipédia*

### 1.2 Importando  e visualizando o Dataset
**Dataset** é uma coleção de dados (conjunto de dados) normalmente tabulados. Por cada elemento se indicam várias características. Cada coluna representa uma variável particular. Cada linha corresponde a um determinado membro do conjunto de dados em questão. Cada valor é conhecido como um dado.

#### Lendo o arquivo que contém os nossos dados e criando um Dataframe com o Pandas

In [16]:
df = pd.read_csv('https://raw.githubusercontent.com/idcesares/Clube-de-IA-ESEM/master/Pr%C3%A1tica-2_Regress%C3%A3o-Linear-Scikit-Learn/consumo_cerveja.csv', sep=',')

#### Mostrando as 5 primeiras linhas do nosso Dataframe

In [17]:
df.head()

,Data,Temperatura Media (C),Temperatura Minima (C),Temperatura Maxima (C),Precipitacao (mm),Final de Semana,Consumo de cerveja (litros)
0,2015-01-01,"27,3","23,9","32,5",0,0.0,25.461
1,2015-01-02,"27,02","24,5","33,5",0,0.0,28.972
2,2015-01-03,"24,82","22,4","29,9",0,1.0,30.814
3,2015-01-04,"23,98","21,5","28,6","1,2",1.0,29.799
4,2015-01-05,"23,82",21,"28,3",0,0.0,28.900

#### Exibindo informações importantes do Dataset

In [7]:
df.describe().round(2) # Resume e descreve algumas operações gerais do Dataset. Round(2) arredonda para 2 casas decimais.

       Final de Semana  Consumo de cerveja (litros)
count           365.00                       365.00
mean              0.28                        25.40
std               0.45                         4.40
min               0.00                        14.34
25%               0.00                        22.01
50%               0.00                        24.87
75%               1.00                        28.63
max               1.00                        37.94

In [6]:
print(f'Tamanho do Dataframe: {df.shape[0]} linhas e {df.shape[1]} colunas') # Descreve o tamanho do dataframe em uma tupla

Tamanho do Dataframe: 941 linhas e 7 colunas

In [8]:
df.info() # Descreve informaçoes de tamanho e de tipo das características

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 941 entries, 0 to 940
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Data                         365 non-null    object
 1   Temperatura Media (C)        365 non-null    object
 2   Temperatura Minima (C)       365 non-null    object
 3   Temperatura Maxima (C)       365 non-null    object
 4   Precipitacao (mm)            365 non-null    object
 5   Final de Semana              365 non-null    float64
 6   Consumo de cerveja (litros)  365 non-null    float64
dtypes: float64(2), object(5)
memory usage: 51.6+ KB

### 1.3 Selecionando as características principais para a análise

In [13]:
df['Temperatura Media (C)'].mean()

TypeError: can only concatenate str (not "int") to str

### 1.4 Exibir a correlação entre as características do dataset